/* Header.css */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  margin-bottom: 30px;
  background-color: #0f2554;
  color: #fff;
}

.profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.solution-section {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
}

.solution-name {
  font-size: 2rem;
  font-weight: bold;
}
